*{
    margin: 0;
    border: 0;
    box-sizing:border-box;
}

.list-group-item{
    font-weight: 500;
    font-size: larger;
    width: 100%;
    margin: 15px;
    max-width: 450px;
    position: center;
    align-items: flex;
}


.skills-title{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
}



/* media queries for desktop */

@media(min-width: 950px){

.skills{
    align-items: center;
    
}

.list-group-item{
    font-weight: 500;
    font-size: larger;
    width: 100%;
    max-width: 450px;
    
}


.skills-title{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
}

}