/* import reset from "./general/reset" */
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general styles */
html {
  scroll-behavior: smooth;
}

main {
  scroll-margin-top: 90px;
}

main[id] {
  scroll-margin-top: 90px;
}

body {
  font-family: "Monserrat", sans-serif;
  background-color: white;
  color: black;
  padding-top: 90px;
}

a {
  text-decoration: none;
  color: black;
}

/* navbar with nesting*/
.top-header {
  position: fixed;
  background-color: white;
  box-shadow: 0 4px 5px rgb(174, 133, 187);
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
.top-header .top-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 980px;
  margin: 0 auto;
}
.top-header .logo {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(93, 93, 194);
}
.top-header .logo img {
  border-radius: 50%;
  margin: 0 10px;
}
.top-header .logo-image-hover:hover {
  filter: drop-shadow(0 0 5px rgb(174, 133, 187));
  cursor: pointer;
}
.top-header .logo-text-hover:hover {
  filter: brightness(130%);
  cursor: pointer;
}
.top-header .menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-header .menu li {
  padding: 0 15px;
}
.top-header .menu a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.top-header .menu a::after {
  content: "";
  background-color: rgb(228, 120, 204);
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: opacity 0.5s;
}
.top-header .menu a.selected::after {
  opacity: 0.8;
}
.top-header .menu a:hover::after {
  opacity: 0.8;
}
.top-header .menu a:hover {
  color: rgb(93, 93, 194);
}
.top-header .open-menu {
  display: none;
}
.top-header .close-menu {
  display: none;
}

/*profile */
/*profile section (Home) css */
/* mobile first */
.profile-info {
  margin-bottom: 25px;
}

/* css for image and line responsive */
.profile-image-line {
  background-color: rgb(228, 120, 204);
  width: 90%;
  height: 10px;
  position: relative;
  left: 0;
  bottom: 0;
}

.profile-img {
  width: 90%;
  height: auto;
  display: flex;
  max-width: 450px;
  border-radius: 40%;
  align-content: center;
  padding-top: 25px;
  position: relative;
}

/* profile section (Home) css */
.profile {
  text-align: center;
  align-content: center;
  padding: 20px 20px;
}
.profile .profile-title {
  font-size: 30px;
  font-weight: bolder;
  margin: 0;
  color: rgb(93, 93, 194);
}
.profile .profile-title .ubuntu-bold {
  font-family: "Ubuntu", serif;
  font-weight: 700;
}
.profile .profile-details {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  max-width: 450px;
  margin: 20px auto;
}
.profile .profile-btn {
  background-color: rgb(93, 93, 194);
  color: nth white, black, rgb(93, 93, 194), rgb(228, 120, 204), rgb(223, 212, 212), rgb(174, 133, 187), rgb(131, 10, 131), rgb(219, 197, 226), rgb(68, 6, 68), 5;
  border: none;
  font-size: 15px;
  padding: 0.5em 1em;
  border-radius: 7px;
  cursor: pointer;
}
.profile .profile-btn:hover {
  filter: brightness(130%);
}

/* mixin for .skills */
/* skills section */
.skills {
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.skills .skills-title {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 25px;
}
.skills .skills-list-group {
  width: 90%;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.skills .list-group-item {
  list-style: none;
  font-weight: 500;
  font-size: larger;
  width: 100%;
  max-width: 450px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/* mixin for .skills */
/* services section */
.horizontal-padding {
  margin-left: 35px;
  margin-right: 35px;
}

.vertical-padding {
  margin-top: 35px;
  margin-bottom: 35px;
}

.services {
  max-width: 450px;
  margin: 0 auto;
}
.services .services-title {
  font-size: 45px;
  padding-bottom: 5%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.services .services-items {
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 4px 10px rebeccapurple;
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 10px;
  text-align: center;
}
.services .services-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

/* mixin for .skills */
/* experience section */
.experience {
  padding: 25px;
  max-width: 500px;
  margin: 0 auto;
}
.experience .color-filling {
  background-color: rgb(93, 93, 194);
  width: 100%;
  height: 850px;
}
.experience .experience-body {
  color: rgb(223, 212, 212);
}
.experience .line-filler {
  background-color: white;
  width: 100%;
  height: 4px;
}
.experience .experience-title {
  text-align: center;
  text-transform: uppercase;
  padding: 18px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 25px;
}
.experience .experience-date {
  font-size: 24px;
  font-weight: bold;
  color: rgb(228, 120, 204);
  margin-top: 5px;
}
.experience .experience-company {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
}
.experience .experience-position {
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}
.experience .experience-description {
  font-weight: 400;
  font-size: 15px;
  margin-top: 5px;
}

/* mixin for .skills */
/* testimonials section */
.testimonials {
  margin-top: 100px;
  margin-bottom: 100px;
}

.testimonials-title {
  text-align: center;
  text-transform: uppercase;
  padding: 18px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 25px;
}

.carousel.item {
  width: 100%;
}

/* mixin for .skills */
/* contact section */
.contact {
  background-color: rgb(93, 93, 194);
  height: fit-content;
  color: rgb(223, 212, 212);
  font-size: 18px;
  border-radius: 14px;
  width: 100%;
  padding: 20px 20px;
  display: grid;
  gap: 20px;
}
.contact .contact-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.contact .contact-label {
  color: rgb(228, 120, 204);
}
.contact .contact-details,
.contact .contact-form {
  display: grid;
  gap: 0px;
}
.contact .contact-details-group,
.contact .contact-form-group {
  display: grid;
  gap: 3px;
}
.contact .contact-label {
  font-weight: 500;
  text-transform: uppercase;
}
.contact .contact-text a {
  text-decoration: none;
  /* Removes underline */
  color: #becedf;
  font-weight: 600;
  /* Makes it stand out */
}
.contact .contact-text a:hover {
  text-decoration: underline;
  /* Underline on hover! */
}
.contact .card-body {
  background-color: rgb(228, 120, 204);
}
.contact .border border-info {
  width: 6px;
}
.contact .quote-text {
  font-size: smaller;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: rgb(223, 212, 212);
}
.contact .contact-form-group {
  margin: 10px 10px;
}
.contact .contact-form input,
.contact .contact-form textarea {
  border-radius: 7px;
  border: none;
  height: 30px;
  padding: 5px 5px;
}
.contact .contact-form textarea {
  height: auto;
  resize: horizontal;
  align-items: center;
}
.contact .contact-form-submit {
  width: 100%;
  height: 50px;
  background-color: black;
  border-radius: 7px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: rgb(223, 212, 212);
  border: 3px solid var(--secondary-color);
  cursor: pointer;
}
.contact .contact-form-submit:hover {
  box-shadow: 0 0 14px rgb(228, 120, 204);
}

/* mixin for .skills */
/* social section */
.social {
  grid-area: social;
  padding-right: 10%;
}
.social .social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  align-items: center;
}
.social .social-list img:hover {
  filter: drop-shadow(0 0 14px var(--footer-filter-color));
}

/*# sourceMappingURL=style.css.map */
